<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Proyecto Acamica Express</title>
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" type="text/css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <div class="page-logo">
                    <img src="/images/logo-light.svg"/>
                </div>
                <!-- Title -->
                <span class="mdl-layout-title">Proyecto lista de tareas</span>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="page-content">
                {{{body}}}
            </div>
        </main>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Acamica</div>
            </div>
            <div class="mdl-mini-footer__right-section">
                <ul class="mdl-mini-footer__link-list">
                    <li><img src="/images/github.png"/><a href="https://github.com/acamica/proyecto-express">Ver en github</a></li>
                    <li><img src="/images/logo-light.svg"/><a href="https://www.acamica.com/cursos/42/express">Ir al curso</a></li>
                </ul>
            </div>


        </footer>
    </div>
    <script src="/js/material.min.js"></script>
    <script src="/js/jquery2.min.js"></script>
    <script src="/js/main.js"></script>


</body>
</html>
